<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="MasterHost" value="cica.cloudapp.net"/>
    <add key="MasterPort" value ="21000"/>
    <add key="PlayerName" value ="YODA"/>
  </appSettings>
</configuration>